@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*
@font-face {
	font-family: 'Roboto';
	src: url(‘/fonts/Roboto-Regular.woff2’) format(‘woff2’),
		url(‘/fonts/Robot-Regular.ttf’) format(‘truetype’)
}
*/
/*
h1 {
	font-family: $roboto-font, sans-serif;
}
*/
h1,
h2,
h3 {
  font-family: "Roboto";
}

ul,
input,
header,
p {
  font-family: Roboto;
}

h2 {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

header {
  text-align: center;
  font-size: 30px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: Roboto;
}
.top .top__location {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  border-top: #eaeaea solid 2px;
  width: 100%;
  border-top: #dbdbdb solid 2px;
  background-color: #dbdbdb;
}
.top .top__container {
  flex-direction: column;
  text-align: center;
  background-color: #f4f4f4;
}

input {
  border: none;
  background-color: transparent;
  margin-left: 5px;
}

.fonction {
  margin-bottom: 60px;
}

.all_fonction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fonction__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 70px;
  background-color: #f4f4f4;
  border-radius: 20px;
  box-shadow: 1px 2px 8px #c1c1c1;
  margin-bottom: 15px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.card {
  width: 90%;
  margin: 20px auto;
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 1px 2px 8px #c1c1c1;
  position: relative;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

/* a terminer/verifier
.content h3 {
  margin: ;
}
*/
.new {
  font-size: 15px;
  font-weight: bold;
  background-color: #99e2d0;
  color: #2c9c81;
  padding: 5px 10px;
  top: 15px;
  right: 15px;
  border-radius: 2px;
  position: absolute;
}

footer {
  margin-top: 40px;
  background-color: #353535;
  color: white;
  padding: 5px 0px;
  font-family: "Shrikhand";
}

img {
  width: 100%;
  height: 100%;
}

image_presentation img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 300px;
  min-height: 350px;
  background-position: top;
}

header {
  display: block;
}

nav {
  display: block;
}

header p {
  text-align: center;
  font-size: 30px;
  font-family: "Shrikhand";
  font-weight: bold;
}

.image_presentation {
  width: 100%;
  height: 250px;
}

.image_presentation img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 350px;
  background-position: top;
}

.carte_top__name {
  font-size: 30px;
}

.menu_repas__name {
  text-transform: uppercase;
  border-bottom: 3px solid #99e2d0;
  width: 3px;
}

.carte {
  position: relative;
  padding: 30px 20px;
  background-color: #f4f4f4;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.menu_repas {
  margin-top: 30px;
}

.plat {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 15px;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 2px 8px #c1c1c1;
  font-weight: bold;
  position: relative;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: #9356dc;
  font-size: 15px;
  color: white;
  border-radius: 100px;
  box-shadow: 1px 2px 8px #c1c1c1;
  margin-top: 40px;
  margin-bottom: 50px;
}

.btn_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_commander {
  margin: 50px auto;
}

footer {
  background-color: #1e1e1e;
  color: white;
  padding: 5px 0px;
}

h4 {
  margin-left: 40px;
  font-weight: 400px;
  font-family: "Shrikhand";
}

li {
  margin-bottom: 15px;
}/*# sourceMappingURL=style.css.map */